.container {
    width: 1700px;
    margin: 0 auto;
}

#background-booleaner
 {
    background: url(../img/pattern.png);
    background-color: aqua;
    height: 215px;
}

#title {
    padding-bottom: 1px;
    margin-bottom: 1px;
    font-weight: lighter;
    font-size:65px
    
}

#logo {
    padding-top: 50px;
    padding-left: 0;
    height: 110px;  
}

small{
    display: block;
}

#author {
    font-size: 25px;
}

#date {
    padding-top: 5px;
    padding-bottom: 30px;
}

#tim-berners-lee {
    width: 65%;
}

#second-photo{
    padding-bottom: 20px;
}

span {
    background-color: yellow;
}

table, .table th, .table td, .table thead, .table tbody, .table tfoot{
    text-align: left;
    border-collapse: separate;
    border: 1px solid white;
}

thead {
    height: 10%;
    background-color:aqua
}

h3 {
    color: grey;
}

footer {
    display: block;
}
.you-might-be-interested {
    display: block;
}

